@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($color) {
  background-color: $color;
  border-radius: $border-radius;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($color, 10%);
  }
}
